# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.log
*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Vagrant work directory
.vagrant

# Maven
**/target/

# Logs
**/log/

# Eclipse
**/.settings/
**/.project
**/.classpath
**/logs


# Gradle
**/.gradle/
rest/out/

# Mac
**/.DS_Store

#Protobuf
MailProtos.java

# ouptut dirs
**/out/
**/out-tsc/

*.patch
.gitignore
.idea/sonarlint/
.idea/workspace.xml
uitest/.gradle/
uitest/build.gradle
uitest/gradle/
uitest/gradlew
uitest/gradlew.bat
uitest/settings.gradle
uitest/src/test/resources/
